In [7]:
import numpy as np
import pandas as pd

In [8]:
user_nlp = pd.read_csv('data/users_nlp.csv')

In [9]:
user_nlp.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Unnamed: 0</th>
      <th>user_id</th>
      <th>name</th>
      <th>screen_name</th>
      <th>statuses_count</th>
      <th>followers_count</th>
      <th>friends_count</th>
      <th>favourites_count</th>
      <th>listed_count</th>
      <th>url</th>
      <th>...</th>
      <th>index</th>
      <th>sentiment_negative</th>
      <th>sentiment_neutral</th>
      <th>sentiment_positive</th>
      <th>sent_sum</th>
      <th>ratio_neg</th>
      <th>ratio_neu</th>
      <th>ratio_pos</th>
      <th>jaccard</th>
      <th>numtops</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>64987143.0</td>
      <td>Fake Taylor S</td>
      <td>TaylorSFaklhh</td>
      <td>1</td>
      <td>62</td>
      <td>1489</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>...</td>
      <td>142</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>72795613.0</td>
      <td>Katherine</td>
      <td>Katherine9e5b</td>
      <td>1</td>
      <td>98</td>
      <td>411</td>
      <td>0</td>
      <td>0</td>
      <td>http://wowurl.com/13qp</td>
      <td>...</td>
      <td>173</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>53780486.0</td>
      <td>Mom3CuteBoys</td>
      <td>Mom3CuteBo38991</td>
      <td>1</td>
      <td>39</td>
      <td>285</td>
      <td>0</td>
      <td>0</td>
      <td>NaN</td>
      <td>...</td>
      <td>76</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>64982724.0</td>
      <td>Nancy</td>
      <td>Nancy84pg</td>
      <td>1</td>
      <td>119</td>
      <td>673</td>
      <td>0</td>
      <td>2</td>
      <td>http://xurl.jp/180a</td>
      <td>...</td>
      <td>141</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>69509049.0</td>
      <td>Chelsea</td>
      <td>Chelsea9j2k</td>
      <td>1</td>
      <td>189</td>
      <td>606</td>
      <td>0</td>
      <td>0</td>
      <td>http://wowurl.com/175</td>
      <td>...</td>
      <td>166</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
      <td>1.0</td>
      <td>0.0</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 68 columns</p>
</div>